extends layout
block content
    h1= title
    if (category) 
        p= "description: " + category.description
    if (itemList && itemList.length > 0) 
        div(class="d-flex flex-row flex-wrap overflow-auto")
            each item in itemList || []
                <div class="card" style="flex: 0 0 18rem; margin: 0.5rem; overflow: hidden">
                    a(href='/inventory/item/'+item.id class="nav-link")
                        if (item.image.data)
                            img( src=`data:${item.image.contentType};base64,${item.image.data.toString('base64')}` class="card-img-top" alt="...")
                        else
                            img( src=`/images/no-image-icon-6.png` class="card-img-top" alt="...")
                        <div class="card-body" style="position: relative;">
                        <h5 class="card-title">#{item.name}</h5>
                        <p class="card-text">$#{item.price}</p>
                        p(class="card-text") quantity:#{item.numberInStock}
                        </div>
                </div>

    else 
        p= "No items found"
    if (category)
        hr 
        p
            a(href="/inventory/category/"+category.id+"/update" class="btn btn-primary ")= "Update category"
        p 
            a(href="/inventory/category/"+category.id+"/delete" class="btn btn-danger ")= "Delete category" 
